<strong>Olá, {{ host }}</strong>
<p>The following user registered in your meetup:</p>
<p>
  <strong>User: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <small>
    You may message this user if you need it.
  </small>
</p>
